<h1>Customer</h1>

<p><%= @customer.title %> <%= @customer.fname %> <%= @customer.mname %> <%= @customer.lname %> <%= @customer.suffix %></p>


 <%= link_to "Edit", edit_customer_path(@customer), class: 'btn btn-success' %>
 
